### Instructor Demo: Indexing

This program reads performs several slice and dice operations through indexing via loc and iloc functions.

In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

### Read CSV in as DataFrame

In [2]:
# Set the file path
file_path = Path('../Resources/people.csv')

# Read in the CSV as a DataFrame
people_csv = pd.read_csv(file_path)
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [3]:
people_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    500 non-null    object
 1   last_name     500 non-null    object
 2   gender        500 non-null    object
 3   age           500 non-null    int64
 4   company_name  500 non-null    object
 5   address       500 non-null    object
 6   city          500 non-null    object
 7   county        500 non-null    object
 8   postal        500 non-null    object
 9   phone1        500 non-null    object
 10  phone2        500 non-null    object
 11  email         500 non-null    object
 12  web           500 non-null    object
dtypes: int64(1), object(12)
memory usage: 50.9+ KB

### View Summary Statistics (Default Numeric)

In [4]:
# View the summary statistics for the DataFrame, the describe() function defaults to only numerical data
people_csv.describe()

              age
count  500.000000
mean    42.130000
std     10.702625
min     24.000000
25%     33.000000
50%     43.000000
75%     52.000000
max     60.000000

### View Summary Statistics (All Columns)

In [5]:
# View the summary statistics for the DataFrame, include all columns
people_csv.describe(include='all')

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
count,500,500,500,500.000000,500,500,500,500,500,500,500,500,500
unique,479,498,2,NaN,498,500,468,102,500,500,500,500,498
top,Erasmo,Rampy,F,NaN,Martin Morrissey,4545 Victoria Rd,City and Hunslet Ward,Greater London,KA26 0DY,01361-927368,01992-537553,isadora.mchughes@mchughes.co.uk,http://www.martinmorrissey.co.uk
freq,3,2,301,NaN,2,1,3,44,1,1,1,1,2
mean,NaN,NaN,NaN,42.130000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,10.702625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,52.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

### Index Selection Using iloc

In [8]:
# Select the first row of the DataFrame
people_csv.iloc[0]

first_name                                   Aleshia
last_name                                 Tomkiewicz
gender                                             F
age                                               54
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 0, dtype: object

In [9]:
# Select the second row of the DataFrame
people_csv.iloc[1]

first_name                                   Evan
last_name                               Zigomalas
gender                                          M
age                                            47
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
Name: 1, dtype: object

In [10]:
# Select the first 10 rows of the DataFrame
people_csv.iloc[0:10]

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
5,Eric,Rampy,M,28,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
6,Marg,Grasmick,F,44,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
7,Laquita,Hisaw,F,40,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk
8,Lura,Manzella,F,53,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
9,Yuette,Klapec,F,55,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk

In [16]:
people_csv.head(10)

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
5,Eric,Rampy,M,28,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
6,Marg,Grasmick,F,44,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
7,Laquita,Hisaw,F,40,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk
8,Lura,Manzella,F,53,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
9,Yuette,Klapec,F,55,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk

In [12]:
# Select the last row of the DataFrame
people_csv.iloc[-1]

first_name                                               Mi
last_name                                            Richan
gender                                                    M
age                                                      27
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
Name: 499, dtype: object

In [14]:
# Select the first column of the DataFrame
people_csv.iloc[:,0]

0        Aleshia
1           Evan
2         France
3        Ulysses
4         Tyisha
         ...
495        Avery
496         Reid
497    Charlette
498    Celestina
499           Mi
Name: first_name, Length: 500, dtype: object

In [15]:
# Select the second column of the DataFrame, with all rows
people_csv.iloc[:,1]

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
          ...
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: last_name, Length: 500, dtype: object

In [17]:
# Select the last column of the DataFrame, with all rows
people_csv.iloc[:,-1].head()

0    http://www.alandrosenburgcpapc.co.uk
1       http://www.capgeminiamerica.co.uk
2        http://www.elliottjohnwesq.co.uk
3            http://www.mcmahanbenl.co.uk
4          http://www.champagneroom.co.uk
Name: web, dtype: object

In [18]:
# Select the first two columns of the DataFrame, with all rows
people_csv.iloc[:, 0:2].head()

  first_name   last_name
0    Aleshia  Tomkiewicz
1       Evan   Zigomalas
2     France     Andrade
3    Ulysses   Mcwalters
4     Tyisha      Veness

In [19]:
# Select the 1st, 5th, 8th, 22nd rows of the 1st 4th and 6th columns.
people_csv.iloc[[0,4,7,21], [0,3,5]]

   first_name  age               address
0     Aleshia   54          14 Taylor St
4      Tyisha   37     5396 Forth Street
7     Laquita   40  20 Gloucester Pl #96
21    Octavio   24        6949 Bourne St

In [20]:
# Select the first 5 rows of the 3rd, 4th, and 5th columns of the DataFrame
people_csv.iloc[0:5, 2:5]

  gender  age             company_name
0      F   54  Alan D Rosenburg Cpa Pc
1      M   47       Cap Gemini America
2      M   42      Elliott, John W Esq
3      M   45           Mcmahan, Ben L
4      F   37           Champagne Room

### Assignment Using iLoc

In [21]:
# Modify the 'first_name' column value of the first row
people_csv.iloc[0, people_csv.columns.get_loc('first_name')] = 'Arya'
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Arya,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

### Index Selection Using Loc

In [23]:
# Indexing
people_csv_index = people_csv.set_index(people_csv['first_name'])
people_csv_index.head()
#people_csv.copy()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Arya,Arya,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
Evan,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
France,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
Ulysses,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
Tyisha,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [24]:
# Set the index as the 'first_name' column
people_csv.set_index(people_csv['first_name'], inplace=True)
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Arya,Arya,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
Evan,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
France,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
Ulysses,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
Tyisha,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [29]:
# Sort the index
people_csv.sort_index(inplace=True)

In [30]:
people_csv

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Abraham,Abraham,Cratch,M,39,"Cavuto, John A",41 Benedict St,Aldborough Ward,Greater London,IG2 7QG,01599-245408,01695-305111,acratch@gmail.com,http://www.cavutojohna.co.uk
Adelle,Adelle,Schantini,F,52,Creative Photography Inc,162 Grayson St,Greenlands Ward,Lancashire,FY2 0TD,01624-595660,01938-262356,adelle_schantini@yahoo.com,http://www.creativephotographyinc.co.uk
Adolph,Adolph,Cunningham,M,58,"Moorhead, Bridget Klein Esq",9874 Oakfield Rd,Redhill Ward,Tyne and Wear,SR5 5PT,01731-429712,01252-511174,adolph_cunningham@hotmail.com,http://www.moorheadbridgetkleinesq.co.uk
Ahmad,Ahmad,Alsaqri,M,51,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
Alaine,Alaine,Raterman,F,35,Putnam Co Inc,1 Milton St,Little Missenden,Buckinghamshire,HP16 0DH,01927-151413,01525-172423,alaine@hotmail.com,http://www.putnamcoinc.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yen,Yen,Groody,M,41,Daily Advance,21 Pilgrim St,Leighton-Linslade,Bedfordshire,LU7 2NZ,01882-911812,01487-684191,ygroody@groody.co.uk,http://www.dailyadvance.co.uk
Yuette,Yuette,Klapec,F,55,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk
Yun,Yun,Paletta,M,30,"Goe, Douglas E Esq",9205 Upper Hill St,City and Hunslet Ward,West Yorkshire,LS1 5QE,01350-332706,01374-255198,yun_paletta@paletta.co.uk,http://www.goedouglaseesq.co.uk
Zachary,Zachary,Freeburger,M,33,Country Kitchen,58 Gloucester Rd,Holbrook,Derbyshire,DE56 0TX,01888-641397,01240-433924,zachary.freeburger@freeburger.co.uk,http://www.countrykitchen.co.uk
Zita,Zita,Speltz,F,35,Mmm Design Group,2395 Gloucester Pl,Halliwell Ward,Greater Manchester,BL1 6DS,01368-497445,01215-755682,zita_speltz@yahoo.com,http://www.mmmdesigngroup.co.uk

In [31]:
# Select the row with the index 'Evan'
people_csv.loc['Evan']

first_name                                   Evan
last_name                               Zigomalas
gender                                          M
age                                            47
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
Name: Evan, dtype: object

In [33]:
# Slice the data to output a range of rows based on the index
people_csv.loc['Aleshia':'Svetlana']

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Alesia,Alesia,Katie,F,26,Nelsons Trmt & Pest Cntrl Co,4 Covent Garden,Farnworth Ward,Greater Manchester,BL4 7AF,01333-436799,01240-614527,alesia_katie@gmail.com,http://www.nelsonstrmtpestcntrlco.co.uk
Aleta,Aleta,Ligons,F,51,Advantage Bookkeeping,4545 Victoria Rd,Kilbirnie and Beith Ward,North Ayrshire,KA15 1AT,01952-535977,01715-637895,aleta_ligons@hotmail.com,http://www.advantagebookkeeping.co.uk
Alethea,Alethea,Mould,F,37,"Hughlett, Henry T Jr",6305 Elstow St,Castle Ward,West Sussex,BN12 6PR,01662-114247,01351-868965,alethea@hotmail.com,http://www.hughletthenrytjr.co.uk
Alexia,Alexia,Meenan,F,42,Herr Foods Inc,94 Villars St,Launcells,Cornwall,EX23 9LG,01560-328739,01270-931388,alexia.meenan@meenan.co.uk,http://www.herrfoodsinc.co.uk
Alise,Alise,Packebush,F,30,Wnc Forklift Inc,22 Delamore St,Hereford,Hereford and Worcester,HR1 2EA,01266-695304,01517-702273,alise.packebush@gmail.com,http://www.wncforkliftinc.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Stefany,Stefany,Ferenz,F,33,L & L Sales Co Inc,636 Portland Place,Gresham Ward,Middlesbrough,TS1 4RG,01743-977277,01704-986828,stefany@hotmail.com,http://www.llsalescoinc.co.uk
Stevie,Stevie,Stifflemire,M,51,Packaging Corp Of America,9 Gradwell St,Kempshott Ward,Hampshire,RG22 5HA,01262-808399,01411-169215,stevie_stifflemire@stifflemire.co.uk,http://www.packagingcorpofamerica.co.uk
Sueann,Sueann,Mandril,M,41,El Hispanic News,751 Stamford St,Werrington,Staffordshire,ST9 0AH,01886-226100,01717-449960,smandril@hotmail.com,http://www.elhispanicnews.co.uk
Sunshine,Sunshine,Senechal,F,49,"Dale, George F Esq",40 Cairo St,Warwick,Warwickshire,CV34 5LQ,01416-686933,01839-700945,sunshine.senechal@hotmail.com,http://www.dalegeorgefesq.co.uk
Svetlana,Svetlana,Tauras,F,47,"Lensbower, Gregory L Esq",8289 Cadogan St,South Ward,North Eart Lincolnshire,DN33 1AU,01781-827317,01509-121140,svetlana_tauras@tauras.co.uk,http://www.lensbowergregorylesq.co.uk

In [35]:
# Filter rows based on a column value conditional
people_csv.loc[people_csv['gender'] == 'F']

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Adelle,Adelle,Schantini,F,52,Creative Photography Inc,162 Grayson St,Greenlands Ward,Lancashire,FY2 0TD,01624-595660,01938-262356,adelle_schantini@yahoo.com,http://www.creativephotographyinc.co.uk
Alaine,Alaine,Raterman,F,35,Putnam Co Inc,1 Milton St,Little Missenden,Buckinghamshire,HP16 0DH,01927-151413,01525-172423,alaine@hotmail.com,http://www.putnamcoinc.co.uk
Alayna,Alayna,Hoyal,F,47,South Bldg Code Congres,70 Royal St,Banchory and Mid Deeside Ward,Aberdeenshire,AB31 4AH,01964-720542,01983-132813,alayna_hoyal@hotmail.com,http://www.southbldgcodecongres.co.uk
Aleisha,Aleisha,Lemm,F,58,Pathe Cmptr Cntrl Systems Corp,341 Birchfield St,Wareham St. Martin,Dorset,BH16 6JJ,01341-997268,01864-899304,aleisha.lemm@gmail.com,http://www.pathecmptrcntrlsystemscorp.co.uk
Alesia,Alesia,Katie,F,26,Nelsons Trmt & Pest Cntrl Co,4 Covent Garden,Farnworth Ward,Greater Manchester,BL4 7AF,01333-436799,01240-614527,alesia_katie@gmail.com,http://www.nelsonstrmtpestcntrlco.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whitney,Whitney,Goossen,F,27,Eagle Newspapers,7568 Atlas St,Butterwick,Lincolnshire,PE22 0HY,01255-383731,01392-955534,whitney.goossen@hotmail.com,http://www.eaglenewspapers.co.uk
Whitney,Whitney,Tishler,F,39,Clifford Standifer & Mcdowell,77 Mason St #650,Smallbridge and Firgrove Ward,Greater Manchester,OL16 3AW,01224-605237,01948-891701,whitney@gmail.com,http://www.cliffordstandifermcdowell.co.uk
Wilda,Wilda,Brigham,F,30,Morelli Hoskins Ford,501 Sandon Terrace #200,Little Clacton,Essex,CO16 9LZ,01950-109108,01300-561046,wilda@brigham.co.uk,http://www.morellihoskinsford.co.uk
Yuette,Yuette,Klapec,F,55,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk
Zita,Zita,Speltz,F,35,Mmm Design Group,2395 Gloucester Pl,Halliwell Ward,Greater Manchester,BL1 6DS,01368-497445,01215-755682,zita_speltz@yahoo.com,http://www.mmmdesigngroup.co.uk

### Assignment Using Loc

In [36]:
# Modify the 'first_name' value of the row with the index 'Yun'
people_csv.loc['Yun', 'first_name'] = 'Yuna'
people_csv

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,,
Abraham,Abraham,Cratch,M,39,"Cavuto, John A",41 Benedict St,Aldborough Ward,Greater London,IG2 7QG,01599-245408,01695-305111,acratch@gmail.com,http://www.cavutojohna.co.uk
Adelle,Adelle,Schantini,F,52,Creative Photography Inc,162 Grayson St,Greenlands Ward,Lancashire,FY2 0TD,01624-595660,01938-262356,adelle_schantini@yahoo.com,http://www.creativephotographyinc.co.uk
Adolph,Adolph,Cunningham,M,58,"Moorhead, Bridget Klein Esq",9874 Oakfield Rd,Redhill Ward,Tyne and Wear,SR5 5PT,01731-429712,01252-511174,adolph_cunningham@hotmail.com,http://www.moorheadbridgetkleinesq.co.uk
Ahmad,Ahmad,Alsaqri,M,51,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
Alaine,Alaine,Raterman,F,35,Putnam Co Inc,1 Milton St,Little Missenden,Buckinghamshire,HP16 0DH,01927-151413,01525-172423,alaine@hotmail.com,http://www.putnamcoinc.co.uk
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yen,Yen,Groody,M,41,Daily Advance,21 Pilgrim St,Leighton-Linslade,Bedfordshire,LU7 2NZ,01882-911812,01487-684191,ygroody@groody.co.uk,http://www.dailyadvance.co.uk
Yuette,Yuette,Klapec,F,55,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk
Yun,Yuna,Paletta,M,30,"Goe, Douglas E Esq",9205 Upper Hill St,City and Hunslet Ward,West Yorkshire,LS1 5QE,01350-332706,01374-255198,yun_paletta@paletta.co.uk,http://www.goedouglaseesq.co.uk
Zachary,Zachary,Freeburger,M,33,Country Kitchen,58 Gloucester Rd,Holbrook,Derbyshire,DE56 0TX,01888-641397,01240-433924,zachary.freeburger@freeburger.co.uk,http://www.countrykitchen.co.uk
Zita,Zita,Speltz,F,35,Mmm Design Group,2395 Gloucester Pl,Halliwell Ward,Greater Manchester,BL1 6DS,01368-497445,01215-755682,zita_speltz@yahoo.com,http://www.mmmdesigngroup.co.uk